@import "login";
@import "register";
@import "surat";
@import "detail_surat";
@import "mahasiswa";
@import "detail_mahasiswa";

body {
   background-color: #dfdfdf;
   .sidebar-outer {
      position: relative;
      .sidebar {
         position: fixed;
         top: 0;
         left: 0;
         bottom: 0;
         background-color: white;
         padding: 2em 1.5em 2em 2em;
         .profile {
            border-bottom: 1px solid #999999;
            img {
               align-self: center;
               width: 5em;
            }
            a,
            p {
               align-self: center;
            }
         }

         // .menu-bar {
         //    .hub-admin-btn {
         //       margin-top: 13em;
         //    }
         // }
      }
   }

   .content {
      // display: none;
      padding: 2em 3em 2em 3em;
      margin: 2em 2em 2em 2em;
      background-color: white;
      .profile-details {
         img {
            width: 7em;
         }
      }

      .table-surat {
         table {
            th {
               text-align: center;
            }

            th,
            td {
               vertical-align: middle;
            }
         }
      }
   }

   .modal {
      .modal-title {
         margin-left: 16.5em;
      }
   }
}
